body {
    font-family: 'Fredoka', sans-serif;
}

.center-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid #89b0ae;
}

.green-text {
    color: #bee3db;
}

img {
    width: 200px;
}

