body {
    font-family: 'Fredoka', sans-serif;
}

h1 {
	color: #555b6e;
}

.center-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pics {
	border: 4px solid #bee3db;
    border-radius: 12px;
}

.green-text {
    color: #bee3db;
}

img {
    width: 200px;
}

.heart {
    width: 25px;
}

